<div class="container">
  <!-- Vignettes d'affichage des cumuls -->
  <header class="container-fluid mb-5 g-0">
    <div class="row d-flex justify-content-between ">

      <!-- Cumul Demandes de stages -->
      <div id="demandestagetotales" class="col-12 col-lg-4 d-flex mb-3">
        <div class="col-10 bg_demande d-flex align-items-center">
          <mat-icon>date_range</mat-icon>
          <p class="categorie">Demandes de stage</p>
          <p class="cumul">125</p>
        </div>
        <div class="col-2 bg_demande_dark"></div>
      </div>

      <!-- Cumul Offres de stages -->
      <div id="demandestagetotales" class="col-12 col-lg-4 d-flex  mb-3">
        <div class="col-10 bg_offre d-flex align-items-center">
          <mat-icon>send</mat-icon>
          <p class="categorie">Offres de stage</p><br>
          <p class="cumul">125</p>
        </div>
        <div class="col-2 bg_offre_dark"></div>
      </div>

      <!-- Cumul Candidats/Entreprise -->
      
      <div id="candidat_entreprise" class="col-12 col-lg-4 mb-3">
        <div class="row g-0">
          <!-- Cumul Candidats -->
          <div class="col-6 d-flex">
              <div class="col-10 bg_candidat">
                <mat-icon>person</mat-icon>
                <p class="categorie">Candidats</p>
              </div>
              <div class="col-2 bg_candidat_dark"></div>
            </div>
          <!-- Cumul Entreprises -->
          <div class="col-6 d-flex">
            <div class="col-2 bg_entreprise_dark"></div>
            <div class="col-10 bg_entreprise ms-auto">
              <mat-icon>business</mat-icon>
              Entreprises
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Dernières demandes de stages-->
  <section class="mb-5">
    <app-dernieres-demandes></app-dernieres-demandes>
  </section>

  <!-- Dernières offres de stages-->
  <section class="mb-5">
    <app-dernieres-offres></app-dernieres-offres>
  </section>

