<div class="container">
  <!-- Vignettes d'affichage des cumuls -->

  <!-- SECTION DU COMPTEUR POUR DEMANDES DE STAGES - SG -->
  <header class="container-fluid mb-5 g-0">
    <!-- <div class="row g-5"> -->
    <div class="row d-flex justify-content-between ">
      <div id="demandestagetotales" class="col-12 col-lg-4 d-flex mb-3">
        <div class="col-10 bg_demande align-items-center">
          <mat-icon>date_range</mat-icon>
          <p class="categorie">Demandes de stage</p>
          <app-counter-demandes-stages></app-counter-demandes-stages>
        </div>
        <div class="col-2 bg_demande_dark"></div>
      </div>

      <!-- SECTION DU COMPTEUR POUR OFFRES DE STAGES - SG -->
      <div id="demandestagetotales" class="col-12 col-lg-4 d-flex mb-3">
        <div class="col-10 bg_offre align-items-center">
          <mat-icon>date_range</mat-icon>
          <p class="categorie">Offres de stage</p>
          <app-counter-offres-stages></app-counter-offres-stages>
        </div>
        <div class="col-2 bg_offre_dark"></div>
      </div>


      <!-- SECTION DU COMPTEUR POUR CANDIDATS ET ENTREPRISES - SG -->
      <div id="candidat_entreprise" class="col-12 col-lg-4 mb-3">
        <div class="row g-0">
          <!-- Cumul Candidats -->
          <div class="col-6 d-flex">
            <div class="col-10 bg_candidat">
              <mat-icon>person</mat-icon>
              <p class="categorie">Candidats</p>
              <app-counter-candidats></app-counter-candidats>
            </div>
            <div class="col-2 bg_candidat_dark"></div>
          </div>

          <!-- Cumul Entreprises -->
          <div class="col-6 d-flex">
            <div class="col-2 bg_entreprise_dark"></div>
            <div class="col-10 bg_entreprise ms-auto">
              <mat-icon>business</mat-icon>
              <p class="categorie">Entreprises</p>
              <app-counter-entreprises></app-counter-entreprises>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Dernières demandes de stages-->
  <section class="mb-5">
    <app-dernieres-demandes></app-dernieres-demandes>
  </section>

  <!-- Dernières offres de stages-->
  <section class="mb-5">
    <app-dernieres-offres></app-dernieres-offres>
  </section>
