@import ../../styles.sass

.bg_demande
    background-color: $demande-de-stage
    padding: 2rem
    border-radius: 0.75rem 0 0 0.75rem
    color: $blanc
    p
        font-size: $taille_defaut

.bg_demande_dark
    background-color: $demande-de-stage_dark
    border-radius: 0 0.75rem 0.75rem 0

mat-icon
    width: initial
    height: initial
    font-size: 4rem
    line-height: 3rem
    vertical-align: initial
    margin-right: 0.5rem

.cumul
    font-size: 3rem
    margin: top 0
