.form 
    min-width: 1000px
    width: 1400px
    max-width: 1500px
    width: 100%
    background-color: cadetblue
  
.full-width 
    width: 95%
  
.half-width 
    width: 85%

.body 
    width: 75rem
    margin-left: 15rem
  
.colonne1
  margin-left: 4rem
  text-align: left
  width: 12rem 
  

.colonne2
  margin-left: 3rem
  text-align: left
  width: 8rem 

.btn__couleur
    color: white
    background-color: red

  