<!-- la liste de stage -->
<main class="container">
<h1 class="h1_ajouter">Offre de Stages</h1>
  <button class="btn__ajouter" routerLink="/ajout-offre-stage" type="button">Ajouter une offre de stage</button><br><br>

  <!-- Boucle permettant d'afficher chaque offre de stage de l'API -->
  <section class="container">
    <table class="table">
      <thead>
      <tr class="title g-1">
        <th scope="col" class="d-none">ID</th>
        <th class="col col-lg-3">Poste</th>
        <th class="col col-lg-3">Secteur d'activité</th>
        <th class="col col-lg-2">Région</th>
        <th class="col col-lg-4">Date de publication</th>
      </tr>
    </thead>
    <div>
      <app-offres-de-stage *ngFor=" let offrestage  of offrestages " [offrestage]="offrestage"></app-offres-de-stage>
    </div>
  </table>
  </section>
</main>  

