
.full-width 
    width: 95%
  
.half-width 
    width: 85%

.body 
    width: 65rem
    margin-left: 5rem
  
.colonne1
  margin-left: 6rem
  text-align: left
  width: 13rem 
  

.colonne2
  margin-left: 3rem
  text-align: left
  width: 8rem 

.btn__couleur
    color: white
    background-color: red

  