<!-- Débute de la page 1 de la section Candidats -->
<h1>Candidats</h1>
<br /><br />
<!-- Boutton pour ajouter un candidat -->
<button mat-stroked-button>Ajouter un candidat</button><br /><br />

<!-- Début de la section 1 -->
<section class="1">
  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>
</section>
<!-- Fin de la section 1 -->

<!-- Début de la section 2 -->
<section class="2">
  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>
</section>
<!-- Fin de la section 2 -->

<!-- Début de la section 3 -->
<section class="3">
  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>
</section>
<!-- Fin de la section 3 -->

<!-- Début de la section 4 -->
<section class="4">
  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-icon>person</mat-icon>
    <mat-card-title-group>
      <mat-card-title>{{ name }}</mat-card-title>
      <mat-card-subtitle>{{ description }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{ longText }}<br />
      {{ tel }}
    </mat-card-content>
  </mat-card>
</section>
<!-- Fin de la section 4 -->
