<!-- Début de la section 1 -->
<div class="carte-candidat" *ngIf="candidat">
  <mat-card class="card">
    <a routerLink="/fiche-candidat"> <mat-icon>person</mat-icon> </a>

    <mat-card-title-group>
      <mat-card-title>{{ candidat.name }}</mat-card-title>
      <mat-card-subtitle>{{ candidat.jobTitle }}</mat-card-subtitle>
      <mat-card-subtitle>{{ candidat.email }}</mat-card-subtitle>
      <mat-card-subtitle>{{ candidat.phone }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card>
</div>
<!-- Fin de la section 1 -->
