<!-- Début de la section 1 -->
<div class="carte-candidat" *ngIf="candidat">
  <!-- nom de mon service(effacer) -->

  <section class="">
    <mat-card class="card">
      <!--   <button mat-stroked-button></button>-->
      <a mat-button href="http://localhost:4200/fiche-candidat" target="_blank"
        ><mat-icon>person</mat-icon></a
      >

      <!--   <a routerLink="/fiche-candidat">Fiche candidat</a> -->

      <mat-card-title-group>
        <mat-card-title>{{ candidat.name }}</mat-card-title>
        <mat-card-subtitle>{{ candidat.jobTitle }}</mat-card-subtitle>
        <mat-card-subtitle>{{ candidat.email }}</mat-card-subtitle>
        <mat-card-subtitle>{{ candidat.phone }}</mat-card-subtitle>
      </mat-card-title-group>
    </mat-card>
  </section>
</div>
<!-- Fin de la section 1 -->
