<!-- partie entete de la page -->

<div>
    <mat-card class="card__body">
      <h1 class="card__entete">Offre de Stage</h1>
      <h2 class="card__sousentete">Intégrateur Web junior</h2>
      <mat-card class="largeur__card">acolyte communication</mat-card>
      <mat-card-actions class="btn__align">
        <button mat-button>Annuler</button>
        <button class="btn__align--color" mat-button>Mettre A jour</button>
      </mat-card-actions>
    </mat-card>
  
    <!-- fin -->
    <!-- partie description de la tacha -->
    <br />
    <div class="body__form">
      <h1 class="titre1">Description de la tâche</h1>
      <br />
      <div class="card__size1">
          <p>{{ longText }}</p>
      </div>
      <br><br>
  
      <h2 class="titre2">Formation Demandée</h2>
      <br />
      <div class="card__size2">
        <p>{{ TexteCourt }}</p> 
      </div><br><br>
  
      <h2 class="titre2">Exigences</h2>
      <div class="card__size2">
          <p>{{ TexteCourt2 }}</p>
      </div>
      <br><br>
  
      <!-- fin -->
  
      <!-- partie information sur le stage recherchee -->
  
      <h2 class="titre3">Information sur le stage recherché</h2>
      <br />
  
      <div>
        <div>
          <h5>Type de stage</h5>
          <app-selection></app-selection>
        </div>
  
        <div class="datepicker__align">
          <h5>Date de debut</h5>
          <app-date-picker></app-date-picker>
        </div>
      </div>
      <br />
  
      <div>
        <div>
          <h5>Nombre d'heures par semaine</h5>
          <app-selection></app-selection>
        </div>
  
        <div class="datepicker__align">
          <h5>Date de fin</h5>
          <app-date-picker></app-date-picker>
        </div>
      </div>
  
      <!-- fin -->
  
      <!-- partie remuneration jusqu'à la fin de la page -->
  
      <div class="pt 3">
        <form action="/action_page.php">
          <Label> Remuneration </Label><br /><br />
          <input type="checkbox" name="choix1" value="valuer1" />
          <label for="choix1"> A discuter</label><br /><br />
          <input type="checkbox" name="choix2" value="valeur2" />
          <label for="choix2"> Stage remunéré</label><br /><br />
          <input type="checkbox" name="choix3" value="value3" checked />
          <label for="choix3"> Stage non remunéré </label><br /><br />
        </form>
      </div>
  
      <div class="pt 3">
        <h1 class="titre4">Informations supppementaires</h1>
        <div class="card__size1">
          <p>{{ longText2 }}</p>
        </div>
      </div>
      <br><br>
    </div>
  </div>
  
  <!-- fin -->
  