<!-- AJOUT DEMANDE DE STAGE - SG --> 

<h1 class="h1_ajouter bordure-gauche">Ajouter une demande</h1>

<form class="example-form" #demandeForm="ngForm">

<!-- METTRE SECTION DES BOUTONS -->
<!-- ############################################################ -->

<!-- Titre -->
      <mat-label>Titre</mat-label>        
        <div class="col-lg-9">
          <mat-form-field required class="example-full-width">
            <input name="title" [(ngModel)]="requeteStage.title" #title="ngModel" required type="text" matInput />
            <mat-error *ngIf="title.invalid && (title.dirty || title.touched) && title.hasError('required')">Le titre de la demande de stage est obligatoire.</mat-error>              
          </mat-form-field>
        </div>
<!-- DÉBUT DE LA SECTION DU FORMUALIRE -->


<!-- IL SEMBLE NE PAS AVOIR DE SECTION DANS LA BASE DE DONNÉ POUR CETTE SECTION ??? -->

<!-- NOM ET PRÉNOM -->
<mat-label>Nom et prénom</mat-label>
<mat-form-field class="example-full-width">
  <input name="studentName" [(ngModel)]="requeteStage.studentName" #studentName="ngModel" required type="text" matInput />
  <mat-error *ngIf="studentName.invalid && (studentName.dirty || studentName.touched) && studentName.hasError('required')"> Le nom de la personne contact est obligatoire.</mat-error>
</mat-form-field>

<!-- PRÉSENTATION -->
    <mat-label>Présentation</mat-label>
    <mat-form-field class="example-full-width">
      <input name="description" [(ngModel)]="requeteStage.description" #description="ngModel" required type="text" matInput />
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('required')"> Le nom de la personne contact est obligatoire.</mat-error>
    </mat-form-field>

<!-- PROGRAMME DE FORMATION -->
    <mat-label>Programme de formation</mat-label>
    <mat-form-field class="example-full-width">
      <input name="program" [(ngModel)]="requeteStage.program" #program="ngModel" required type="text" matInput />
      <mat-error *ngIf="program.invalid && (program.dirty || program.touched) && program.hasError('required')"> Le nom de la personne contact est obligatoire.</mat-error>
    </mat-form-field>

<!-- ÉTABLISSEMENT SCOLAIRE -->
    <mat-label>Établissement scolaire</mat-label>
    <mat-form-field class="example-full-width">
      <input name="school" [(ngModel)]="requeteStage.school" #school="ngModel" required type="text" matInput />
      <mat-error *ngIf="school.invalid && (school.dirty || school.touched) && school.hasError('required')"> Le nom de la personne contact est obligatoire.</mat-error>
    </mat-form-field>



       
 </form> 