<app-barre-de-navigation></app-barre-de-navigation>
<app-entete></app-entete>


<app-side-barre></app-side-barre>

<router-outlet></router-outlet>
<app-pied-page></app-pied-page>
{{titre}}


<!-- 
https://projet-synthese-api.herokuapp.com/api/2096309/candidate


https://projet-synthese-api.herokuapp.com/api/2096430/candidate
https://projet-synthese-api.herokuapp.com/api/2096430/enterprise
https://projet-synthese-api.herokuapp.com/api/2096430/internship-offer
https://projet-synthese-api.herokuapp.com/api/2096430/internship-request


https://trello.com/b/3XCFGNBC/projet-de-synth%C3%A8se-aec-front-end
-->
