<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

{{titre}}
<app-entete></app-entete>
<router-outlet></router-outlet>
<app-pied-page></app-pied-page>

<!-- 
https://projet-synthese-api.herokuapp.com/api/2096309/candidate


https://projet-synthese-api.herokuapp.com/api/2096430/candidate
https://projet-synthese-api.herokuapp.com/api/2096430/enterprise
https://projet-synthese-api.herokuapp.com/api/2096430/internship-offer
https://projet-synthese-api.herokuapp.com/api/2096430/internship-request


https://trello.com/b/3XCFGNBC/projet-de-synth%C3%A8se-aec-front-end
-->