<div class="container-fluid g-0 py-2">
  <div class="button-row d-flex d-none d-md-flex">
    <div class="col-10 align-items-center">
      <mat-icon class="mat-icon">sort</mat-icon>
      <button [routerLink]="['/ajout-offre-stage']" class="btn__ajoutoffre">+ Ajouter une offre de stage</button>
      <button [routerLink]="['/ajout-demande-stage']" class="btn__ajoutdemande">
        + Ajouter une demande de stage
      </button>
      <button [routerLink]="['/ajout-entreprise']" class="btn__ajoutentreprise">
        + Ajouter une entreprise
      </button>
      <button [routerLink]="['/ajout-candidat']" class="btn__ajoutcandidat">+ Ajouter un candidat</button>
    </div>
    <div class="col-2 ms-auto align-items-center">
      <div class="d-flex ms-auto text-end justify-content-end pe-3">
      <p class="nom">John Doe<br>
        Admin</p>
      <mat-icon>circle</mat-icon>
    </div>
    </div>
  </div>
</div>
