<div class="button-row">
  <mat-icon>sort</mat-icon>
  <button mat-stroked-button>
    <a routerLink="/offres-de-stage">+ Ajouter une offre de stage</a>
  </button>
  <button mat-stroked-button>
    <a routerLink="/demandes-de-stages">+ Ajouter une demandes de stage </a>
  </button>
  <button mat-stroked-button>
    <a routerLink="/entreprises">+ Ajouter une entreprise </a>
  </button>
  <button mat-stroked-button>
    <a routerLink="/candidats">+ Ajouter un candidat</a>
  </button>
  <h3>
    John Doe
    <h4>Admin<mat-icon>circle</mat-icon></h4>
  </h3>
</div>
