<div class="button-row">
  <mat-icon>sort</mat-icon>
  <button mat-stroked-button>
    <a routerLink="/ajout-offre-stage">+ Ajouter une offre de stage</a>
  </button>
  <button mat-stroked-button>
    <a routerLink="/ajout-demande-stage">+ Ajouter une demandes de stage </a>
  </button>
  <button mat-stroked-button>
    <a routerLink="/ajout-entreprise">+ Ajouter une entreprise </a>
  </button>
  <button mat-stroked-button>
    <a routerLink="/ajout-candidat">+ Ajouter un candidat</a>
  </button>
  <h3>
    John Doe
    <h4>
      Admin<mat-icon><a routerLink="/accueil">circle</a></mat-icon>
    </h4>
  </h3>
</div>
