<h1>identification</h1>
<img src="/image1.png" alt="image1" />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam tempora
  eum.
</p>
<p>
  quibusdam ad sed, sequi possimus maiores quasi voluptates eligendi quidem
  sint?
</p>
<br />
<form class="form">
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="John Doe" value="John Doe" />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width" appearance="fill">
    <input matInput placeholder="Admin" value="Admin" />
  </mat-form-field>
  <br />
</form>

<button mat-stroked-button>
  <a routerLink="/tableau-de-bord">Accéder maintenant</a>
</button>
