<!-- PAGE CANDIDAT - importation de mon composant candidat pour afFicher les cartes de visites en boucle - SG-->
<h1>Candidat</h1>

<!-- Boutton pour ajouter un candidat -->
<button mat-stroked-button>  <a routerLink="/ajout-candidat">Ajouter un candidat</a></button>

<!-- Boucle pour afficher les cartes des candidats de mon API - SG-->
<div class="liste-candidats" *ngFor="let candidat of candidats"> 
  <div (click)="onClick(candidat._id)">    
    <app-candidats [candidat]="candidat" ></app-candidats>
  </div>
</div>
