<!-- Affichage des données pour les fiches d'entreprise -->

<div ngFor= "let entreprise of entreprise" >
    

    <img src="" alt="">  <!-- Mettre le log de l'entreprise -->
    <h4>Entreprise</h4>
    <h1>{{entreprise.name}}</h1>      
    
    <button><mat-icon>done</mat-icon></button>
    <button><mat-icon>create</mat-icon></button>
    <button><mat-icon>clear</mat-icon></button>
    <br/><br />


<!-- section des détails de la fiche entrerpise -->    
<div> 
    <h5>Courte présentation</h5>    
    <p> {{entreprise.description}} </p>

    <h5>Personne contact</h5>
    <h3> {{entreprise.contactName}} </h3>

    <h5>Informations personnelles</h5>
    <br/>
    
    <section class="address">
      <h5> Adresse </h5>
      <h6> {{entreprise.address}} </h6>
    </section>

    <section class="phone">
        <h5>Téléphone</h5>
        <h6> {{entreprise.contactPhone}} </h6>
    </section>

    <section class="ville">
        <h5>Ville</h5>
        <h6> {{entreprise.city}} </h6>
    </section>

    <section class="courriel">
        <h5>Courriel</h5>
        <h6> {{entreprise.contactEmail}} </h6>
    </section>

    <section class="province">
        <h5>Province</h5>
        <h6> {{entreprise.province}} </h6>
    </section>

    
    <section class="codepostal">
        <h5>Code postal</h5>
        <h6> {{entreprise.postalCode}} </h6>
    </section>
</div>

    <hr> <!-- à enlever plus tard -->
</div>
     

<!-- Bouttons de sauvegarde et annulation -->
    <button mat-stroked-button>Annuler</button>
    <button mat-stroked-button><mat-icon>save</mat-icon>Sauvegarder</button>
    