<div class="container">
  <h1>Dernière offres de stage</h1>
  <p>En attente de validation</p>
  <button mat-stroked-button>Valider toutes les offres</button>

  <table class="table">
    <thead>
      <tr class="title">
        <th class="col">Poste</th>
        <th class="col">Ville</th>
        <th class="col">Date</th>
        <th class="col">Actions</th>
      </tr>
    </thead>
  </table>
  <tbody>
    <tr>
      <mat-icon>business_center</mat-icon>
      <td>
        <button type="button" class="btn btn-danger m-1">Refuser</button>
        <button type="button" class="btn btn-success m-1">Accepter</button>
      </td>
    </tr>
  </tbody>
</div>
