<div id="dernieresoffres" class="container">

  <div class="row mb-5 py-3 d-flex align-items-center">
    <div class="col-12 col-lg-9">
      <h1>Dernière <span>offres</span> de stage</h1>
      <h2>En attente de validation</h2>
    </div>
    <div class="col-12 col-lg-3 text-end ms-auto">
    <button class="btn__valider">Valider toutes les offres</button>
  </div>
  </div>

  <table class="table">
    <thead>
      <tr class="title g-1">
        <th scope="col" class="d-none">ID</th>
        <th class="col col-lg-6">Poste</th>
        <th class="col col-lg-1">Ville</th>
        <th class="col col-lg-2">Date</th>
        <th class="col col-lg-3">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let offreStage of offresStages">
        <td class="d-none">{{ offreStage._id }}</td>
        <td>
          <mat-icon class="icone-offre-stage">business_center</mat-icon>{{ offreStage.title }}
          {{ offreStage.enterprise }}
        </td>

        <td>{{ offreStage.program }}</td>
        <td>{{ offreStage.startDate  | date:"yyyy-mm-dd"}}</td>
        <td  class="d-flex justify-content-between">
          <button type="button" class="btn__refuser">Refuser</button>
          <button type="button" class="btn__accepter">Accepter</button>
          <mat-icon  class="btn__vue">visibility</mat-icon>
          <a routerLink="/ajout-offre-stage">
            <mat-icon class="btn__modifier">create</mat-icon>
          </a>
          <a routerLink="">
            <mat-icon class="btn__supprimer">delete</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>