<main class="container">
  <h1 class="h1_ajouter bordure-gauche">Ajouter un candidat</h1>

  <!-- Formulaire pour ajouter un candidat -->
  <form class="example-form" #candidatForm="ngForm" >

    <!-- Boutons annuler / sauvegarder -->
    <div class="row">
      <div class="col-12 col-lg-3 offset-lg-9 d-flex mb-5">
        <button [routerLink]="['/candidats']" class="btn__annuler me-3">Annuler</button>

        <button type="submit" class="btn__sauvegarde d-flex" [disabled]="!candidatForm.form.valid"
          (click)="saveCandidat(candidatForm)">
          <mat-icon>save</mat-icon> Sauvegarder
        </button>
      </div>
    </div>


    <!-- Identification -->
    <div id="identification" class="container mb-5">
      <div class="row d-flex g-0 align-items-center">

        <!-- Candidat -->
        <div class="col-lg-3">
          <mat-label>Nom et prénom :</mat-label>
        </div>

        <div class="col-lg-9">
          <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
            <mat-form-field required class="example-full-width">
              <input name="name" [(ngModel)]="candidat.name" #name="ngModel" required type="text" matInput />
              <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.hasError('required')">Le nom du candidat est obligatoire.</mat-error>              
            </mat-form-field>
          </form>
        </div>

        <div class="col-lg-3">
          <mat-label>Poste :</mat-label>
        </div>

        <div class="col-lg-9">
          <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
            <mat-form-field required class="example-full-width">
              <input name="jobTitle" [(ngModel)]="candidat.jobTitle" #jobTitle="ngModel" required type="text" matInput />
              <mat-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched) && jobTitle.hasError('required')">Le nom de poste est obligatoire.</mat-error>              
            </mat-form-field>
          </form>
        </div>

      </div>      
    </div>

    <section>
      <h2>Courte présentation</h2>

      <!-- Champs de saisie de texte -->
      <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
        <mat-form-field required class="example-full-width mb-5">
          <textarea name="description" rows="10" [(ngModel)]="candidat.description" #description="ngModel" required
            type="text" matInput></textarea>
          <mat-error
            *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('required')">
            La description est obligatoire.</mat-error>
        </mat-form-field>
      </form>
     

      <h3>Informations personnelles</h3>
      <!-- Adresse -->
      <div class="row g-0">
        <div class="col-lg-6 pe-4">
          <div class="bordure-input">

            <mat-label>Adresse</mat-label>
            <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
              <mat-form-field class="example-full-width">
                <input name="address" [(ngModel)]="candidat.address" #address="ngModel" required type="text" matInput />
                <mat-error *ngIf="address.invalid && (address.dirty || address.touched) && address.hasError('required')">
                  L'adresse est obligatoire.</mat-error>             
              </mat-form-field>
            </form>

          </div>
        </div>

        <!-- Téléphone -->
        <div class="col-lg-6 ps-4">
          <div class="bordure-input">

            <mat-label>Téléphone</mat-label>
            <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
              <mat-form-field class="example-full-width">
                <input name="phone" [(ngModel)]="candidat.phone" #phone="ngModel" required
                  type="text" matInput />
                <mat-error
                  *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.hasError('required')">
                  Le numéro de téléphone.</mat-error>
              </mat-form-field>
            </form>

          </div>
        </div>
      </div>


      <!-- Ville-->
      <div class="row g-0">
        <div class="col-lg-6 pe-4">
          <div class="bordure-input">
            <mat-label>Ville</mat-label>
            <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
              <mat-form-field class="example-full-width">
                <input name="city" [(ngModel)]="candidat.city" #city="ngModel" required type="text" matInput />
                <mat-error *ngIf="city.invalid && (city.dirty || city.touched) && city.hasError('required')">La ville est
                  obligatoire.</mat-error>
              </mat-form-field>
            </form>
          </div>
        </div>
        

        <!-- Courriel -->
        <div class="col-lg-6 ps-4">
          <div class="bordure-input">
            <mat-label>Courriel</mat-label>
            <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
              <mat-form-field class="example-full-width">
                <input name="email" [(ngModel)]="candidat.email" #email="ngModel" required
                  type="email" matInput />
                <mat-error
                  *ngIf="email.invalid && (email.dirty || email.touched) && email.hasError('required')">
                  Le courriel est obligatoire.</mat-error>
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>

      <!-- Province -->
      <div class="row g-0">
        <div class="col-lg-6 bordure-input pe-4">
          <mat-label>Province</mat-label>
          <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
            <mat-form-field class="example-full-width">
              <input name="province" [(ngModel)]="candidat.province" #province="ngModel" required type="text"
                matInput />
              <mat-error
                *ngIf="province.invalid && (province.dirty || province.touched) && province.hasError('required')">
                La
                province est obligatoire.</mat-error>
            </mat-form-field>
          </form>
        </div>
      </div>

      <!-- Code postal -->
      <div class="row g-0">
        <div class="col-lg-6 bordure-input pe-4">
          <mat-label>Code Postal</mat-label>
          <form #candidatForm="ngForm" (ngSubmit)="candidatForm.form.valid">
            <mat-form-field class="example-full-width">
              <input name="postalCode" [(ngModel)]="candidat.postalCode" #postalCode="ngModel" required type="text"
                matInput />
              <mat-error
                *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched) && postalCode.hasError('required')">
                Le code postal est obligatoire.</mat-error>            
            </mat-form-field>
         </form>
        </div>
      </div>
    </section>

   
        <!-- Boutons annuler / sauvegarder -->
        <div class="row">
          <div class="col-12 col-lg-3 offset-lg-9 d-flex mb-5">
            <button [routerLink]="['/candidats']" class="btn__annuler me-3">Annuler</button>
    
            <button type="submit" class="btn__sauvegarde d-flex" [disabled]="!candidatForm.form.valid"
              (click)="saveCandidat(candidatForm)">
              <mat-icon>save</mat-icon> Sauvegarder
            </button>
          </div>
        </div>
 
  </form>
</main>


