<div class="container">
  <h1>Dernière demandes de stage</h1>
  <p>En attente de validation</p>
  <button mat-stroked-button>Valider toutes les demandes</button>

  <table class="table">
    <thead>
      <tr class="title">
        <th class="col">Profil</th>
        <th class="col">Établissement</th>
        <th class="col">Date</th>
        <th class="col">Actions</th>
      </tr>
    </thead>
  </table>
  <tbody>
    <tr>
      <mat-icon>school</mat-icon>
      <td>
        <button type="button" class="btn btn-danger m-1">Refuser</button>
        <button type="button" class="btn btn-success m-1">Accepter</button>
      </td>
    </tr>
  </tbody>
</div>
