<div id="dernieresoffres" class="container">
  <div class="row mb-5 py-3 d-flex align-items-center">
    <div class="col-12 col-lg-9">
      <h1>Dernière <span>demandes</span> de stage</h1>
      <h2>En attente de validation</h2>
    </div>
    <div class="col-12 col-lg-3 ms-auto text-lg-end ">
      <button class="btn__valider">Valider toutes les offres</button>
    </div>
  </div>

  <!-- Tableau afichant les dernières demandes de stage -->
  <table class="table">
    <!-- Entete du tableau -->
    <thead>
      <tr class="title">
        <th class="col" class="d-none">ID</th>
        <th class="col col-12 col-lg-6">Profil</th>
        <th class="col col-12 col-lg-2">Établissement</th>
        <th class="col col-12 col-lg-1">Date</th>
        <th class="col col-12 col-lg-3">Actions</th>
      </tr>
    </thead>
    <!-- Affichage des dernières demandes de stage dans la liste -->
    <tbody>
      <tr *ngFor="let requeteStage of requetesStages">
        <td class="d-none">{{ requeteStage._id }}</td>
        <td>
          <mat-icon class="icone-demande-stage" aria-hidden="true"
            >school</mat-icon
          >
          {{ requeteStage.title }}
        </td>
        <td>{{ requeteStage.city }}</td>
        <td>{{ requeteStage.startDate | date: "yyyy-mm-dd" }}</td>
        <td class="d-flex justify-content-between">
          <!-- Actions-->
          <button type="button" class="btn__refuser align-items-center">
            Refuser
          </button>
          <button type="button" class="btn__accepter">Accepter</button>
          <a routerLink="/fiche-demande">
            <mat-icon class="btn__vue">visibility</mat-icon></a
          >
          <a routerLink="/editer-demande-stage"
            ><mat-icon class="btn__modifier">create</mat-icon></a
          >
          <a routerLink="">
            <mat-icon class="btn__supprimer">delete</mat-icon>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
