
<div ngFor= "let candidat of candidat" >

<!-- SECTION DE NOM DU CONTACT - SG -->
<form #candidatForm ="ngForm">
  
  <h4>Candidats</h4>

<!-- NOM DU CANDIDAT -->
  <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editCandidat;" class="input-full-width">
    <input name="name" [(ngModel)]="candidat.name" #name="ngModel" required type="text" matInput/>
    <mat-error *ngIf="name.invalid && (name.dirty || name.touched) && name.hasError('required')">Le nom de l'entreprise est obligatoire.</mat-error>
  </mat-form-field> 
    <ng-template #editCandidat><h1>{{candidat.name}}</h1></ng-template>

<!-- TITRE DU TRAVAIL -->    
    <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editJobTitle;" class="input-full-width">
      <input name="jobTitle" [(ngModel)]="candidat.jobTitle" #jobTitle="ngModel" required type="text" matInput/>
      <mat-error *ngIf="jobTitle.invalid && (jobTitle.dirty || jobTitle.touched) && jobTitle.hasError('required')">Le titre de l'emploie est obligatoire.</mat-error>
  </mat-form-field> 
      <ng-template #editJobTitle><h1>{{candidat.jobTitle}}</h1></ng-template>

  
<!-- SECTION DES BOUTONS - ÉDITER - SUPPRIMER - MISE À JOUR -->
<!-- BOUTON DONE QUI RETOURNE À LA PAGE CANDIDATS OU QUI VA DEVENIR ANNULER LORS DU CLICK POUR ÉDITER -->
  <ng-template #ANNULERButton>  
      <button mat-button routerLink="/candidats"><i class="material-icons">done</i></button>
  </ng-template>  
  
<!-- BOUTON DONE QUI VA DEVENIR ANNULER LORS DU CLICK SUR ÉDITER -->
  <button *ngIf="(selectedCandidat && selectedCandidat === candidat);else ANNULERButton;" color="primary" form="candidatForm" routerLink="/candidats" mat-button>
      Annuler
  </button>  
<!-- ############################################################################################## --> 



<!-- BOUTON MISE À JOUR QUI VA APPARAÎTRE LORS DU CLICK SUR ÉDITER -->    
  <button type="submit" *ngIf="(selectedCandidat && selectedCandidat === candidat);else MAJButton;" (click)="onSave(candidatForm)" color="primary" mat-button > 
  <i class="material-icons">save</i> Mise à jour  </button>  
     
<!-- BOUTON EDITE DE LA FICHE-CANDIDAT VA DEVENIR MISE À JOUR LORSQUE QUE NOUS ALLONS ÉDITER UN CANDIDAT--> 
  <ng-template #MAJButton>
      <form (ngSubmit)="onSelect(candidat)">
          <button type="submit"  mat-button><i class="material-icons">edit</i></button>
      </form>
  </ng-template>
<!-- ############################################################################################## -->


<!-- BOUTON SUPPRIMER DE LA FICHE-CANDIDAT NE SERA PAS DISPONIBLE LORS DU CLICK SUR ÉDITE -->
  <ng-template #deleteButton>         
      <button (click)="openConfirmationDialog(candidat)" mat-button ><i class="material-icons">delete</i></button>      
  </ng-template>  
  
<!-- BOUTON DELETE QUI S'EFFACE LORS DU CLICK SUR ÉDITER -->
  <button *ngIf="(selectedCandidat && selectedCandidat === candidat);else deleteButton;" color="primary" form="candidatFormEdition" mat-button> </button>  
<!-- ############################################################################################## -->  



<!-- DÉBUT DU FORMUALIRE -->
<!-- SECTION DE LA COURTE PRÉSENTATION - SG -->
  <h2>Courte présentation</h2>          
      <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editDescription;" class="input-full-width">
          <textarea name="description" [(ngModel)]="candidat.description" #description="ngModel" required type="text" matInput ></textarea>
          <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('required')">La description est obligatoire.</mat-error>
      </mat-form-field>       
      <ng-template #editDescription><p>{{candidat.description}}</p></ng-template>

<!-- SECTION DES COORDONNÉES - SG -->
  <h4>Information personnelles</h4>    

<!-- ADRESSE -->
  <h4>Adresse</h4>     
      <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editAddress;" class="input-full-width">
          <input name="address" [(ngModel)]="candidat.address" #address="ngModel" required type="text" matInput/>
           <mat-error *ngIf="address.invalid && (address.dirty || address.touched) && address.hasError('required')">L'adresse est obligatoire.</mat-error>  
      </mat-form-field>
      <ng-template #editAddress><p>{{candidat.address}}</p></ng-template>

<!-- TÉLÉPHONE -->   
  <h4>Téléphone</h4>    
      <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editPhone;" class="input-full-width">
          <input name="phone" [(ngModel)]="candidat.phone" #phone="ngModel" required type="text" matInput/>
          <mat-error *ngIf="phone.invalid && (phone.dirty || phone.touched) && phone.hasError('required')">Le numéro de téléphone est obligatoire.</mat-error>  
      </mat-form-field>    
      <ng-template #editPhone><p>{{candidat.phone}}</p></ng-template>

<!-- VILLE -->   
   <h4>Ville</h4>   
      <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editCity;" class="input-full-width">
          <input name="city" [(ngModel)]="candidat.city" #city="ngModel" required type="text" matInput/>
          <mat-error *ngIf="city.invalid && (city.dirty || city.touched) && city.hasError('required')">La ville est obligatoire.</mat-error>   
      </mat-form-field>     
      <ng-template #editCity><p>{{candidat.city}}</p></ng-template>

<!-- COURRIEL -->   
   <h4>Courriel</h4>   
      <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editEmail;" class="input-full-width">
          <input name="email" [(ngModel)]="candidat.email" #email="ngModel" required type="email" matInput/>
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched) && email.hasError('required')">Le courriel est obligatoire.</mat-error>  
      </mat-form-field>     
      <ng-template #editEmail><p>{{candidat.email}}</p></ng-template>

<!-- PROVINCE -->   
   <h4>Province</h4>      
      <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editProvince;" class="input-full-width">
          <input name="province" [(ngModel)]="candidat.province" #province="ngModel" required type="text" matInput/>
          <mat-error *ngIf="province.invalid && (province.dirty || province.touched) && province.hasError('required')">La province est obligatoire.</mat-error>   
      </mat-form-field>     
      <ng-template #editProvince><p>{{candidat.province}}</p></ng-template>

<!-- CODE POSTAL -->   
   <h4>Code Postal</h4>       
       <mat-form-field *ngIf="(selectedCandidat && selectedCandidat === candidat);else editCodePostal;" class="input-full-width">
          <input name="postalCode" [(ngModel)]="candidat.postalCode" #postalCode="ngModel" required type="text" matInput/>
          <mat-error *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched) && postalCode.hasError('required')">Le code postal est obligatoire.</mat-error> 
       </mat-form-field>     
      <ng-template #editCodePostal><p>{{candidat.postalCode}}</p></ng-template>

      <!-- SECTION DES BOUTONS - ÉDITER - SUPPRIMER - MISE À JOUR -->
<!-- BOUTON DONE QUI RETOURNE À LA PAGE CANDIDATS OU QUI VA DEVENIR ANNULER LORS DU CLICK POUR ÉDITER -->
  <ng-template #ANNULERButton>  
    <button mat-button routerLink="/candidats"><i class="material-icons">done</i></button>
</ng-template>  

<!-- BOUTON DONE QUI VA DEVENIR ANNULER LORS DU CLICK SUR ÉDITER -->
<button *ngIf="(selectedCandidat && selectedCandidat === candidat);else ANNULERButton;" color="primary" form="candidatForm" routerLink="/candidats" mat-button>
    Annuler
</button>  
<!-- ############################################################################################## --> 



<!-- BOUTON MISE À JOUR QUI VA APPARAÎTRE LORS DU CLICK SUR ÉDITER -->    
<button type="submit" *ngIf="(selectedCandidat && selectedCandidat === candidat);else MAJButton;" (click)="onSave(candidatForm)" color="primary" mat-button > 
<i class="material-icons">save</i> Mise à jour  </button>  
   
<!-- BOUTON EDITE DE LA FICHE-CANDIDAT VA DEVENIR MISE À JOUR LORSQUE QUE NOUS ALLONS ÉDITER UN CANDIDAT--> 
<ng-template #MAJButton>
    <form (ngSubmit)="onSelect(candidat)">
        <button type="submit"  mat-button><i class="material-icons">edit</i></button>
    </form>
</ng-template>
<!-- ############################################################################################## -->


<!-- BOUTON SUPPRIMER DE LA FICHE-CANDIDAT NE SERA PAS DISPONIBLE LORS DU CLICK SUR ÉDITE -->
<ng-template #deleteButton>         
    <button (click)="openConfirmationDialog(candidat)" mat-button ><i class="material-icons">delete</i></button>      
</ng-template>  

<!-- BOUTON DELETE QUI S'EFFACE LORS DU CLICK SUR ÉDITER -->
<button *ngIf="(selectedCandidat && selectedCandidat === candidat);else deleteButton;" color="primary" form="candidatFormEdition" mat-button> </button>  
<!-- ############################################################################################## -->  

 
  </form>

</div>
  
  