<app-editer-candidat></app-editer-candidat>
<h4>Candidat</h4>
<h1>{{ candidat.name }}</h1>
<h5>UX Designer</h5>

<button mat-stroked-button>Annuler</button>
<button mat-stroked-button><mat-icon>save</mat-icon>Mettre à jour</button>
<br /><br />
<h5>Courte présentation</h5>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet quam
  justo. Aliquam interdum facilisis eros, ut dapibus quam hendrerit nec.
  Vestibulum vel blandit lorem. Praesent laoreet quis tortor quis pharetra.
  Nulla dictum erat id nisl pulvinar, ac aliquam lectus laoreet. Aliquam commodo
  pulvinar odio vitae interdum. Phasellus ut ante efficitur, venenatis purus sit
  amet, condimentum leo. Pellentesque nulla sem, consectetur
</p>
<h5>Informations personnelles</h5>
<br />
<form class="form1">
  Adresse
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>3500 de Courval</mat-label>
    <input matInput placeholder="3500 de Courval" />
  </mat-form-field>

  Ville
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Trois-Rivières</mat-label>
    <input matInput placeholder="Trois-Rivières" />
  </mat-form-field>

  Province
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Province</mat-label>
    <input matInput placeholder="Province" />
  </mat-form-field>

  Code postal
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Code postal</mat-label>
    <input matInput placeholder="Code postal" />
  </mat-form-field>

  Téléphone
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>819 999 9999</mat-label>
    <input matInput placeholder="819 999 9999" />
  </mat-form-field>
  <br />
  Courriel
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>plume@latraverse.com</mat-label>
    <input matInput placeholder="plume@latraverse.com" />
  </mat-form-field>
</form>
<button mat-stroked-button>Annuler</button>
<button mat-stroked-button><mat-icon>save</mat-icon>Mettre à jour</button>
