//Arrière-plan des zones
@mixin bg
    background-color: $blanc
    border-radius: 1rem
    padding: 2rem

// Bouton validation
/* Changer la couleur du theme et du theme-dark dans les variables */        
@mixin btn
    background-color: $theme
    font-family: $font-stack
    font-size: $taille-defaut
    font-weight: $bold
    color: $blanc
    padding: $taille-defaut
    border: none
    border-radius: 0.75rem
    padding: 1rem
    &:hover
        background-color: $theme-dark

@mixin btn-action
    font-family: $font-stack
    font-size: $taille-defaut * 0.875
    padding: 6px 15px
    border: none
    border-radius: 6px
    margin-right: 1rem

/* Ajouter color et bgcolor */
@mixin icone-categorie
    border-radius: 5px
    padding: 0.75rem
    text-align: center
    margin-right: 0.75rem

@mixin btn-annuler
    font-family: $font-stack
    font-size: $taille-defaut
    color: $texte-gris
    background-color: none
    padding: $taille-defaut
    border: 1px solid $texte-gris
    border-radius: 0.75rem
    padding: 1rem
    &:hover
        background-color: $gris_dark
        color: $admin

// Formulaires

@mixin mat-form-field
    width: 100%
    font-family: $font-stack
    background-color: $blanc
    border: 1px solid $admin
    margin-top: $taille-defaut *1.25

@mixin mat-label
    font-size: $taille-defaut * 1.5
    font-weight: $bold
    color: $texte-gris

@mixin bordure-gauche
    border-left: 10px solid $theme
    padding-left: 1rem
    margin: 4rem 0 6rem

@mixin bordure-input
    border-left: 10px solid $texte-gris
    padding-left: 1rem
    margin-bottom: 3rem
