@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap')

//Polices 
$font-stack: 'Open Sans', sans-serif
$bold: 700

//Tailles de polices 

$taille_defaut: 1rem

// Couleurs générales 

$texte_noir: #111111
$texte_gris: #707070
$gris_bg: #f6f6f6
$blanc: #ffffff
$admin: #a6acbe

// Bountons
// accepter
$btn__accepter_texte: #07a04a
$btn__accepter_bg: #CDECDB

// btn_refuser
$btn__refuser_texte: #bb2026
$btn__refuser_bg: #ECCDCD

// Sections  
$tableau-de-bord: #0c9da4
$tableau-de-bord_dark: #07575c
$demande-de-stage: #cd9635
$demande-de-stage_fonce: #986d22
$offre-de-stage: #bb2026 //Utilser aussi pour btn_refuser
$offre-de-stage_fonce: #821519
$candidat-mauve: #7f2987
$candidate-rose: #fcd8ff
$candidat-bleu-fonce: #2e466e
$entreprise: #86a9e6 // Utiliser aussi pour affichage candidat
$hr: #cbcbcb

// Icones vue - modif - delete
// pour vue, utiliser $tableau-de-bord
$vue: #0c9da4
$icone-modifier: #f89747
$icone-supprimer: #f26689
