<h1>identification</h1>
<img src="/image1.png" alt="image1" />
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam tempora
  eum. ad sed, sequi possimus maiores quasi voluptates eligendi quidem sint?
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam tempora
  eum. quibusdam ad sed, sequi possimus maiores quasi voluptates eligendi quidem
  sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam
  tempora eum. ad sed, sequi possimus maiores quasi voluptates eligendi quidem
  sint? Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam
  tempora eum. quibusdam ad sed, sequi possimus maiores quasi voluptates
  eligendi quidem sint?
</p>
<br />

<input matInput placeholder="Votre nom et prénom" value="Votre nom et prénom" />

<input matInput placeholder="Votre courriel" value="Votre courriel" />

<button mat-stroked-button>
  <a routerLink="/tableau-de-bord">Accéder maintenant</a>
</button>
