<div id="window" class="container-fluid g-0">
  <header class="row">
    <img
      src="../../assets/img/logo.svg"
      alt="Logo de la compagnie eStage."
      title="Logo de la compagnie eStage."
      class="col-6 col-md-2 align-self-center"
    />
  </header>
  <main class="row">
    <!-- Image d'accueil -->
    <aside class="col-12 col-md-6"></aside>

    <section class="col-12 col-md-6 d-flex align-items-center">
      <div class="col-md-8 offset-md-1">
        <h1>Identification</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque ipsam
          tempora eum.
        </p>
        <!-- Formulaire d'accès -->
        <form class="form contour">
          <mat-form-field class="">
            <mat-label>Nom</mat-label>
            <input
              matInput
              type="text" id="username" name="username" #username   required
            
              class="form--input__placeholder"
            />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Email</mat-label>
            <input
              matInput type="text" id="email" name="email" #email 
              class="form--input__placeholder"
            />
          </mat-form-field>
          <button  type="submit" (click)="valider(username.value, email.value)"class="button-accueil">
            Accéder maintenant
          </button>
        </form>
      </div>
    </section>
  </main>
</div>
