.button-accueil
    border: none
    text-decoration: none
    color: $blanc
    font-size: 1.125rem
    letter-spacing: 20
    background-color: $tableau-de-bord
    padding: 1.25rem 0.875rem
    border-radius: 0.25rem

.button-accueil:hover
    color: $blanc
    opacity: 70%

.btn__vue
    color: $vue
    &:hover
        color: $vue_dark

.btn__modifier
    color: $icone-modifier
    &:hover
        color: $icone-modifier_dark

.btn__supprimer
    color: $icone-supprimer
    &:hover
        color: $icone-supprimer_dark
